---
import Base from './Base.astro';
const { frontmatter, collection } = Astro.props;
const image = frontmatter.heroImage && collection ? `/${collection}/${frontmatter.heroImage}` : undefined;
---
<Base
  title={'Jon Green :: ' + frontmatter.title}
  description={frontmatter.description}
  image={image}
  type="article"
>
  <main class="mx-auto px-4 sm:px-6 lg:px-8 py-8 max-w-5xl">
    <article class="prose dark:prose-invert md:prose-lg prose-pre:overflow-x-auto prose-pre:max-w-[85vw] md:prose-pre:max-w-none">
      <h1 class="text-4xl font-bold mb-4">{frontmatter.title}</h1>
      <p class="text-sm text-gray-500 dark:text-gray-400 mb-8">
        Published on {new Date(frontmatter.pubDate).toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' })}
        {frontmatter.updatedDate && ` • Updated on ${new Date(frontmatter.updatedDate).toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' })}`}
      </p>
      {frontmatter.heroImage && <img src={frontmatter.heroImage} alt="" class="w-full h-auto rounded-lg" />}
      <slot />
    </article>
  </main>
</Base>